## Loading data into pandas

In [1]:
import pandas as pd

In [2]:
# creating a dataframe
df = pd.read_csv('pokemon_data.csv')
#for excel files
#df_xlsx = pd.read_excel('filename.xslx')
#for txt files
#df_txt = pd.read_csv('filename.txt',dilemeter ='\t')                  t---> tab

In [3]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False

In [4]:
df.tail(10)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Reading the data in pandas

In [5]:
## Reading headers
#df.columns


# reading a single columns

#df['Name']

#reading multiple columns at a time

#df[['Name','Type 1','Type 2','HP']]

# reading rows

#df.iloc[2:10]

# for iterating through each row
#for index,rows in df.iterrows():
    #print(index,rows['Name'])
    #df.loc[df['Type 1']=='Dark'] # for reading a specific type of columns

# read a specific location(Rows,Columns)
df.iloc[:]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Sorting / Describing data - to get statistcial analysis of data

In [6]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [7]:
df.sort_values(['Type 1','HP'],ascending = [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

## Making changes to the data

In [8]:
# Creating a new column of total and adding values
df['total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
# manual way

In [9]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [10]:
# drop a specific columns
df = df.drop(columns=['total'])
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [11]:
# Creating a column and adding using iloc method
df['total'] = df.iloc[:,4:10].sum(axis=1) # [all rows = :, columns from 4 to 10]

In [12]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [13]:
45+49+49+65+65+45 # checking the total value is correct or not

318

In [14]:
 # rearranging the columns as per our requirements
    # for example we are going to bring the total column next to defense
cols = list(df.columns)
df = df[cols[0:6] + [cols[-1]] + cols[6:12]]
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,405,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,534,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,634,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,634,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,314,65,50,64,43,1,False

## Saving our data (Exporting it into desired Format)

In [15]:
#df.to_csv('modified.csv')
# if we do not want our index to be saved in our CSV file,
df.to_csv('modified.csv',index = False)
# for excel
#df.to_excel('modified.xlsx',index = False)
# for txt
#df.to_csv('modified.txt',index = False,sep ='\t')

## Filtering data

In [16]:
df.loc[(df['Type 1']=='Grass') & (df['Type 2'] =='Poison') & (df['HP']>70)]

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,75,80,490,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,80,105,490,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,114,85,464,70,85,80,30,5,False

In [17]:
# we can create a new data frame for our work without changing entire dataframe
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2'] =='Poison') & (df['HP']>70)]
new_df

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,75,80,490,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,80,105,490,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,114,85,464,70,85,80,30,5,False

In [18]:
# checking the original df
df

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,700,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

In [19]:
# index looks like some random numbers so we are going to reset our index
new_df.reset_index()

,index,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
1,3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
2,50,45,Vileplume,Grass,Poison,75,80,490,85,110,90,50,1,False
3,77,71,Victreebel,Grass,Poison,80,105,490,65,100,70,70,1,False
4,652,591,Amoonguss,Grass,Poison,114,85,464,70,85,80,30,5,False

In [21]:
# we dont want extra column index so lets drop it
#new_df.reset_index(drop=index,inplace=True)
#other way of doing without explicitly mentionong index
new_df.reset_index(drop=True,inplace=True)

In [22]:
new_df

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,75,80,490,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,80,105,490,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,114,85,464,70,85,80,30,5,False

In [23]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False

In [24]:
# we dont want Mega in the dataframe or want only mega so we are filtering it out
#df.loc[df['Name'].str.contains('Mega')] # ==contains only Mega names
df.loc[~df['Name'].str.contains('Mega')] # ==not contains mega names in names list

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,405,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,600,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,600,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,600,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,680,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,600,120,130,90,70,6,True

In [25]:
# Importing regex it is an superfast tool for data analysis 
import re

#df.loc[df['Type 1'].str.contains('Grass|Rock', regex = True)] # check through type 1 for only Grass or Rock
#df.loc[df['Name'].str.contains('pi(a-z)*',flags = re.I,regex=True)] # for displaying the names starting with pi 
# but caterpie is showing in the begining so for removing or for absolute words starting with pi we give ^ command
df.loc[df['Name'].str.contains('^pi(a-z)*',flags = re.I,regex=True)] # re.I for ignoring the capitals,* means zero or more

C:\Users\admin\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,251,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,349,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,479,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,579,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,320,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,500,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,600,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,205,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,290,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,450,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,314,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,418,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,264,50,36,30,43,5,False

## conditional Changes

In [26]:
# for changing the charecter or content in the list for example we are changing fire in type 1 to Flamer
df.loc[df['Type 1']=='Fire','Type 1'] = 'Flamer'
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Flamer,NaN,39,52,309,43,60,50,65,1,False
5,5,Charmeleon,Flamer,NaN,58,64,405,58,80,65,80,1,False
6,6,Charizard,Flamer,Flying,78,84,534,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Flamer,Dragon,78,130,634,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Flamer,Flying,78,104,634,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,314,65,50,64,43,1,False

In [27]:
#changing it back to fire
df.loc[df['Type 1']=='Flamer','Type 1']= 'Fire'

In [28]:
df.head(10)

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,405,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,534,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,634,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,634,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,314,65,50,64,43,1,False

In [29]:
# getting back our original data frame
df = pd.read_csv('modified.csv')

In [30]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,318,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,405,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,525,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,625,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,309,43,60,50,65,1,False

## Aggregrate Statistics(Group by)

In [31]:
df.groupby(df['Type 1']).mean().sort_values('Speed',ascending=False) # grouping by certain column
# 3 statistic operations you can do by group by is SUM,MEAN,COUNT

,#,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Flying,677.750000,70.750000,78.750000,485.000000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Electric,363.500000,59.795455,69.090909,443.409091,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Dragon,474.375000,83.312500,112.125000,550.531250,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Psychic,380.807018,70.631579,71.456140,475.947368,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Dark,461.354839,66.806452,88.387097,445.741935,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Fire,327.403846,69.903846,84.769231,458.076923,67.769231,88.980769,72.211538,74.442308,3.211538,0.096154
Normal,319.173469,77.275510,73.469388,401.683673,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Fighting,363.851852,69.851852,96.777778,416.444444,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Water,303.089286,72.062500,74.151786,430.455357,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714
Ghost,486.500000,64.437500,73.781250,439.562500,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Ground,356.281250,73.781250,95.750000,437.500000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Poison,251.785714,67.250000,74.678571,399.142857,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Ice,423.541667,72.000000,72.750000,433.458333,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Grass,344.871429,67.271429,73.214286,421.142857,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Bug,334.492754,56.884058,70.971014,378.927536,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Rock,392.727273,65.363636,92.863636,453.750000,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,65.222222,92.703704,487.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Fairy,449.529412,74.117647,61.529412,413.176471,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824

In [32]:
df.groupby(df['Type 1']).sum()

,#,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,23080,3925,4897,26146,4880,3717,4471,4256,222,0.0
Dark,14302,2071,2740,13818,2177,2314,2155,2361,125,2.0
Dragon,15180,2666,3588,17617,2764,3099,2843,2657,124,12.0
Electric,15994,2631,3040,19510,2917,3961,3243,3718,144,4.0
Fairy,7642,1260,1046,7024,1117,1335,1440,826,70,1.0
Fighting,9824,1886,2613,11244,1780,1434,1747,1784,91,0.0
Fire,17025,3635,4408,23820,3524,4627,3755,3871,167,5.0
Flying,2711,283,315,1940,265,377,290,410,22,2.0
Ghost,15568,2062,2361,14066,2598,2539,2447,2059,134,2.0
Grass,24141,4709,5125,29480,4956,5425,4930,4335,235,3.0
Ground,11401,2361,3064,14000,2715,1807,2008,2045,101,4.0
Ice,10165,1728,1746,10403,1714,1861,1831,1523,85,2.0
Normal,31279,7573,7200,39365,5865,5470,6245,7012,299,2.0
Poison,7050,1883,2091,11176,1927,1692,1803,1780,71,0.0
Psychic,21706,4026,4073,27129,3858,5609,4918,4645,193,14.0
Rock,17280,2876,4086,19965,4435,2787,3321,2460,152,4.0
Steel,11957,1761,2503,13168,3412,1823,2177,1492,104,4.0
Water,33946,8071,8305,48211,8170,8379,7898,7388,320,4.0

In [33]:
df.groupby(df['Type 1']).count()

,#,Name,Type 2,HP,Attack,total,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grass,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112

In [34]:
# to get onlu count of each coulumn then 
df['count'] =1
df.groupby(df['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

## Working with large data Files(for eg of size - 20GB or 100MB)

In [1]:
# we can create new dataframe
#new_df = pd.DataFrame(columns= df.columns)


#for df in pd.read_csv('pokemon_data.csv',chunksize=5):
    #results=df.groupby(df['Type 1']).count()
    #new_df = pd.concat(new_df,results)